.header {
  display: flex;
  justify-content: space-between;
  height: 40px;
  background-color: dodgerblue;
  padding: 10px 25px;

  .left {
    display: flex;
    column-gap: 20px;
    justify-content: space-between;
    align-items: center;

    .logo {
      display: flex;
    }

    .home {
      display: flex;
      column-gap: 8px;
      justify-content: space-between;
      padding: 5px;

      .text {
        color: #ffffff;
        font-family: Arial, serif;
      }
    }

    .home:hover {
      background-color: #ffffff;
      border-radius: 5px;

      .text {
        color: black;
      }
    }

    .input {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0 20px;

      .left {
        padding: 7px;
        background-color: #ffffff;
        border-top-left-radius: 10px;
      }

      .right {
        margin-left: 5px;
        padding: 6px;
        background-color: #ffffff;
        border-bottom-right-radius: 10px;
      }

      input {
        border: 0;
      }
    }

    input:focus {
      outline: 0;
    }

    .mobile {
      display: none;
    }
  }

  .right {
    display: flex;
    column-gap: 10px;
    justify-content: space-between;
    align-items: center;

    hr {
      background-color: #ffffff;
      height: 50px;
      opacity: 0.5;
    }

    .item {
      padding: 5px;
    }

    .item:hover {
      background-color: #ffffff;
      border-radius: 10px;
    }
  }
  
  img {
    cursor: pointer;
  }
}

@media only screen and (max-width: 1024px) {
  .header {
    .left {
     column-gap: 40px;

      .input {
        display: none;
      }

      .home {
        display: none;
      }

      .mobile {
        display: flex;
        justify-content: center;
        column-gap: 10px;
      }
    }
  }
}