.header {
  display: flex;
  justify-content: space-between;
  height: 40px;
  background-color: dodgerblue;
  padding: 10px 25px;

  .left {
    display: flex;
    column-gap: 20px;
    justify-content: space-between;
    align-items: center;

    .logo {
      display: flex;
    }

    .home {
      display: flex;
      column-gap: 8px;
      justify-content: space-between;

      .text {
        color: #ffffff;
      }
    }

    .input {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0 20px;

      .left {
        padding: 7px;
        background-color: #ffffff;
        border-top-left-radius: 10px;
      }

      .right {
        margin-left: 5px;
        padding: 6px;
        background-color: #ffffff;
        border-bottom-right-radius: 10px;
      }

      input {
        border: 0;
      }
    }
  }

  .right {
    display: flex;
    column-gap: 15px;
    justify-content: space-between;
    align-items: center;

    hr {
      border-left: 1px solid #ffffff;
      height: 50px;
      opacity: 0.5;
    }

    //.item {
    //  padding: 0 8px;
    //}
  }
}
